p{
    color: rgb(0, 0, 0);
}

.container{
    box-shadow: 0 1px 8px black;
}

.container-header{
    box-shadow: 0 1px 8px black;
}

.container-footer{
    box-shadow: 0 1px 8px black;
}

.nombre{
    text-align:center;
}

.subTitulo{
    background-color:#efbd68;
    box-shadow: 0 1px 8px black;
    margin: 15px;
}

.exp{
    background-color: #efbd68;
    margin: 15px;
    box-shadow: 0 1px 8px black;
}

.trayectoria{
    background-color: #efbd68;
    margin: 15px;
    box-shadow: 0 1px 8px black;
}

.proyectos{
    background-color: #efbd68;
    margin: 15px;
    box-shadow: 0 1px 8px black;
}

.contacto{
    background-color: #efbd68;
    margin: 15px;
    box-shadow: 0 1px 8px black;
}

.sobre-mi{
    background-color: #efbd68;
    margin: 15px;
    box-shadow: 0 1px 8px black;
}

.habilidades{
    margin: 15px;
    background-color:#efbd68;
    box-shadow: 0 1px 8px black;
}

.img-foto{
    border: 3px solid #000000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

.img-logo {
    border: 0px solid #000000;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    background-color:rgb(232, 232, 232);
    justify-content: center;
    margin-left: 200px;
    margin-top: 7px;
}

.footer{
    margin: 25px;

}

section>.progress{
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
    box-shadow: 0 1px 8px black;
}


