p{
    color: rgb(0, 0, 0);
}

.container{
    box-shadow: 0 1px 8px black;
}

.nombre{
    text-align:center;
}

.subTitulo{
    background-color: darkgrey;
}

.exp{
    background-color: rgb(146, 231, 210);
}

.trayectoria{
    background-color: rgb(146, 231, 210);
}

.proyectos{
    background-color: rgb(146, 231, 210);
}

.contacto{
    background-color: rgb(133, 178, 204);
    border-color:blue;
}


.me{
    background-color:rgb(133, 178, 204);
}

.img-foto{
    border: 3px solid #000000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

.img-logo {
    border: 0px solid #000000;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    background-color:rgb(232, 232, 232);
    justify-content: center;
    margin-left: 200px;
    margin-top: 7px;
}

.footer{
    margin: 25px;
}

.habilidades>p{
    margin: 0px;
    background-color:(133, 178, 204);
}

section>.progress{
    margin-bottom: 15px;
}


