<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-3 bg-darkGray p-4">
      <app-me></app-me>
      <app-contacto></app-contacto>
      <app-habilidades></app-habilidades>
    </div>
  </div>

  <div class="row">
    <div class="col bg-lightGray">
      <app-experiencia-laboral></app-experiencia-laboral>
    </div>
    <div class="col bg-lightGray"></div>
    <app-trayectoria></app-trayectoria>
    <app-proyectos></app-proyectos>
  </div>
</div>
<app-footer></app-footer>
