<footer>
  <div class="container-footer">
      <div class="row">
          <div class="col-sm-9 bg-secondary">
              <section class="footer">
                  <p class="escuela">{{footer.escuela}}</p>
                  <p>{{footer.materia}}</p>
              </section>
          </div>
          <div class="col-sm-3 bg-secondary">
              <div>
                  <img src="./assets/images/logo713esc.png" alt="Foto logo 713" class="img-logo">
              </div>
          </div>
      </div>
  </div>
</footer>
