<section class="exp">
    <h3>EXPERIENCIA LABORAL</h3>
    <div>
        <h4 class="expLab">Proyecto VCP</h4>
        <p>Rol: <span>Organizador de eventos en Organización "Proyecto VCP"</span></p>
    </div>

    <div>
        <h4 class="expLab">Mates el Patagónico</h4>
        <p>Rol: <span>Gestión de redes, atención al cliente, entregas, fotografía y edición</span></p>
    </div>

    <div>
        <h4 class="expLab">Al Fallo Suplementos y Nutrición</h4>
        <p>Rol: <span>Gestión de redes,  atención al cliente, entregas, fotografía y edición</span></p>
    </div>
</section>
