<section class="exp">
    <h3>Experiencia Laboral</h3>
    <div>
        <h4 class="expLab">{{experiencia.experienciaUno}}</h4>
        <p>{{experiencia.descripcionUno}}</p>
        <p>Rol: {{experiencia.rolUno}}</p>
    </div>

    <div>
        <h4 class="expLab">{{experiencia.experienciaDos}}</h4>
        <p>{{experiencia.descripcionDos}}</p>
        <p>Rol: {{experiencia.rolDos}}</p>
    </div>

    <div>
        <h4 class="expLab">{{experiencia.experienciaTres}}</h4>
        <p>{{experiencia.descripcionTres}}</p>
        <p>Rol: {{experiencia.rolTres}}</p>
    </div>
</section>
