<section class="proyectos">
  <h3>PROYECTOS</h3>
  <p>Proyecto "Esquel QR"</p>
  <p>
    Emprendiento grupal "Proyecto VCP"
    <span>
      <a href="https://proyectovcp.com.ar">www.proyectovcp.com.ar</a>
    </span>
  </p>
  <p>
    Emprendimiento personal "Al Fallo Suplementos y Nutrición
    <span>
      <a href="https://www.instagram.com/alfallosuplementos/">@alfallosuplementos</a>
    </span>
  </p>
  <p>
    Emprendimiento personal "Mates el Patagónico"
    <span>
      <a href="https://www.instagram.com/mateselpatagonico/">@mateselpatagonico</a>
    </span>
  </p>
</section>
