
  .me {
    background-color: rgb(59, 170, 185);
    font-size: 20px;
    padding: 50px;
    margin: 45px;
  }
  
  .datos {
    background-color: rgb(146, 91, 54);
    font-size: 20px;
    padding: 20%;
    margin: 2px;
  }