<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <p>Sobre mí.</p>
      <p>Soy una persona amigable y extrovertida</p>
    </div>

    <div class="col-sm-8">
      <p>Nombre:<span>Francisco</span></p>
      <p>Apellido:<span>Quinteros</span></p>
      <p>Email:<span>frandecholila@gmail.com</span></p>
      <p>
        Instagram:<span>
          <a href="https://instagram.com/quintterosfran?igshid=NTc4MTIwNjQ2YQ==">Acceder perfil de Instagram</a>
        </span>
      </p>
    </div>
  </div>
</div>


        
